<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
  </div>
    <div>This site exists solely to test the open source eCommerce application Solidus. It is not affiliated with Glossier or any other brand mentioned. None of the products are intended for sale and all image rights belong to their respective owners. 
    </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
